[submodule "Quasar/vendor/GLFW"]
	path = Quasar/vendor/GLFW
	url = https://github.com/Rounak-Paul/glfw.git
[submodule "Quasar/vendor/GLM"]
	path = Quasar/vendor/GLM
	url = https://github.com/Rounak-Paul/glm.git
[submodule "Quasar/vendor/VMA"]
	path = Quasar/vendor/VMA
	url = https://github.com/Rounak-Paul/VulkanMemoryAllocator.git
[submodule "Quasar/vendor/IMGUI/imgui"]
	path = Quasar/vendor/IMGUI/imgui
	url = https://github.com/Rounak-Paul/imgui.git
